*{
	margin: 0px;
}

body{
	background-color: #ECF6FA;
}

#header {
	text-align: left;
}

ul {
	text-align: center;
	margin: auto;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #46B9EA;
}

#header li {
	float: left;
}
#header li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

#header li a:hover {
	background-color: #00BCD4;
}

#navbar {
	float: left;
	width: 100%;
}