header ul{   
    background-color: blue;
    width: 100%;
    height: 50px;
    margin-top: -8px;
}
#kedua {
	background-color: ;
	height: 50px;
}

h2 {
	text-align: center;
}
ul {
	float: right;
}
li {
	list-style: none;
     line-height: 60px;
     display: inline-block;
     font-size: 18px;
     margin: center;
     margin-right: 20px;
}
iframe{
	text-align: center;
    margin-top: 160px;
    margin-left: -50px;
    height: 400px;
    width: 600px;
}
img.kiri {
    float: left;
    margin: 5px;
    width: 25%;
    height: 400px;
}
img.kanan {
    float: right;
    margin: 5px;
    width: 25%;
    height: 400px;
    margin-bottom: 10%;
}

div iframe {
	float: center;
    margin: 5px;
    width: 47%;
    height: 400px;
}

 